
<html><head><meta http-equiv="Content-Type" content="text/html; charset=Big5">
<title>Delete</title>
</head>
<body>

<form action="http://localhost:8099/delete" method="post">
	resname:<input type="text" name="resname"><br>
	<input type="submit" value="delete">
	<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>
</form>



</body></html>
